* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    height: 3000px;
    line-height: 1.5;
}
a:visited, a:hover,
a:focus, a:active {
    text-decoration: none;
    color: black;
}
    
h2 {
    font-size: 27px;
}

/*상단 메뉴바*/
.cover {
    color: white;
    background-image:
        linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
        url('background.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    opacity: .8;
}
.contents {
    justify-content: space-between;
    padding: 1rem 3rem;
    margin: 0 auto;
    max-width: 80rem;
    /* position: absolute;
    left: 0;
    right: 0;
    z-index: 999; */
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
}
.contents a {
    color: white;
}
.contents .contents_bar {
    justify-content: space-between;
    display: flex;
}
.contents_bar .cover_menus {
    display: flex;
    margin: auto 0;
}
.cover_menus a {
    font-weight: 700;
    color: white;
    margin: 0 1rem;
    opacity: .8;
}
@media (max-width: 992px ) {
    .contents {
        background-color: white;
    }
    .contents a {
        color: black;
    }
    .cover_menus li {
        display: none;
    }
    .cover .intro span {
        font-size: 3rem;
    }
    .cover .intro p {
        font-size: 1rem;
    }
    .aboutMe_title .aboutMe_title_text {
        font-size: 2.5rem;
    }
    .aboutMe_info .aboutMe_info_wrapper {
        width: 50%;
    }
}
@media (min-width: 993px) {
    #cover_menus_togglebar {
        display: none;
    }
}
#cover_menus_togglebar {
    position: absolute;
    right: 3rem;
    top: 1.5rem;
    cursor: pointer;
}
#cover_menus_togglebar i {
    font-size: 1.5rem;
    color: black;
}
#cover_menus_toggle {
    overflow: hidden;
    max-height: 0;
    transition: .2s ease;
}
#cover_menus_toggle.active {
    overflow: hidden;
    max-height: 15.75rem;
    padding-left: 3rem;
    background-color: white;
    transition: max-height .2s ease;
}
#cover_menus_toggle li {
    margin: 1rem 0;
}
#cover_menus_toggle li:first-child {
    padding-top: 1.5rem;
    margin-top: 0;
}
#cover_menus_toggle li:last-child {
    padding-bottom: 1.5rem;
    margin-bottom: 0;
}
#cover_menus_toggle a {
    margin: 2rem 0;
    font-size: 1.1rem;
    font-weight: 500;
}


/*문구*/
.intro {
    text-align: center;
    padding: 4rem 0;
}
.intro span {
    font-size: 3.5rem;
    font-weight: 900;
}
.intro p {
    margin-top: 4px;
    font-size: 1.2rem;
    opacity: .9;
}
hr {
    width: 3.25rem;
    margin: 1.5rem auto;
    color: red;
    border: 0;
    border-top: 0.2rem solid;
    opacity: .7;
}

.toAboutme {
    display: inline-block;
    padding: 1rem 2rem;
    margin-top: 2.5rem;
    border: none;
    border-radius: 10rem;
    background-color: #f4623a;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    line-height: 1.5;
    cursor: pointer;
}


/* About Me Information */
.aboutMe_contents {
    width: 100%;
    max-width: 71.25rem;
    padding: 4rem 2rem;
    margin: 0 auto;
}
.aboutMe_title {
    display: table;
    position: relative;
    margin: 0 auto 3rem;
}
.aboutMe_title_text {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-family: Black Han Sans,sans-serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.5;
}
.aboutMe_info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.aboutMe_info_wrapper {
    width: 33.3333%;
}
.aboutMe_info_wrapper:first-child,
.aboutMe_info_wrapper:nth-child(2),
.aboutMe_info_wrapper:nth-child(3) {
    margin-bottom: 2rem;
}
.aboutMe_basic_info {
    display: flex;
    flex-flow: row nowrap; /* 있어야하나? */
    width: 100%;
    max-width: 14rem;
    margin: 0 auto;
    opacity: .8;
}
.aboutMe_info_icon img {
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    margin-top: 0.2rem;
    margin-right: 2rem;
}
.aboutMe_text_label {
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.25rem;
}
.aboutMe_text_value {
    font-weight: 400;
    font-size: 1rem;
}
.aboutMe_text_value a {
    color: black;
}
.aboutMe_text_value a:hover {
    cursor: pointer;
    color: green;
}

.aboutMe_contactMe {
    border-radius: 20px;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
    background-color: rgba(3,199,90,255);
}