:root {
    --naver-color: rgba(3,199,90,255);
}
*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: normal;
    height: 3000px;
}
div {
    display: block;
}


/* Header Bar */
.header_bar {
    transition: all .5s;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    z-index: 10;
}
.header_bar.scroll {
    transition: all .5s;
    background-color: white;
}
.header_bar.scroll .header_contents a {
    color: black;
}
.header_contents {
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    max-width: 71.25rem;
    height: 4.5rem;
    padding: 1.25rem 2rem;
    margin: 0 auto;
    color: #fff;
}
.header_contents a {
    color: white;
}
.header_title {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    cursor: pointer;
}
.header_menus {
    float: right;
}
.header_menu {
    display: inline-block;
    padding: 0 1rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
    cursor: pointer;
}
.toggle_button {
    display: none;
    float: right;
}
.toggle_button i {
    color: black;
    font-size: 1.7rem;
    margin-top: 3px;
    cursor: pointer;
}
.toggle_menuBar {
    overflow: hidden;
    background-color: white;
    height: 0;
    max-height: 15.75rem;
    padding-left: 2rem;
    transition: all .5s;
}
.toggle_menuBar.active {
    height: 15.75rem;
    transition: all .5s;
}
.toggle_menuBar a {
    color: #6c757d;
}
.toggle_menus:first-child {
    margin-top: 1rem;
}
.toggle_menus:last-child {
    margin-bottom: 1rem;
}
.toggle_menus {
    display: table;
    padding: 0.75rem 0;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    cursor: pointer;
}

/* Main Cover */
.main_cover {
    position: relative;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    opacity: .8;
}
.cover_contents {
    width: 100%;
    max-width: 71.25rem;
    margin: 0 auto;
    padding: 8.5rem 2rem 4rem;
    text-align: center;
}
.cover_main_text {
    font-family: Black Han Sans,sans-serif;
    font-weight: 400;
    font-size: 4rem;
    color: #fff;
}
.cover_hr {
    width: 3.25rem;
    height: 0;
    margin: 1.5rem auto;
    border: none;
    border-top: 0.2rem solid var(--naver-color);
    opacity: 1;
}
.cover_sub_text {
    margin: 0 auto 2rem;
    font-weight: 400;
    font-size: 1.25rem;
    color: hsla(0,0%,100%,.95);
    line-height: 1.5;
}
.cover_toAboutMe {
    display: inline-block;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10rem;
    background-color: var(--naver-color);
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    line-height: 1.5;
    cursor: pointer;
}

/* About Me Information */
.aboutMe_contents {
    width: 100%;
    max-width: 71.25rem;
    padding: 4rem 2rem;
    margin: 0 auto;
}
.aboutMe_title {
    display: table;
    position: relative;
    margin: 0 auto 3rem;
}
.aboutMe_title_text {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-family: Black Han Sans,sans-serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.5;
}
.aboutMe_info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.aboutMe_info_wrapper {
    width: 33.3333%;
}
.aboutMe_info_wrapper:first-child,
.aboutMe_info_wrapper:nth-child(2),
.aboutMe_info_wrapper:nth-child(3) {
    margin-bottom: 2rem;
}
.aboutMe_basic_info {
    display: flex;
    flex-flow: row nowrap; /* 있어야하나? */
    width: 100%;
    max-width: 14rem;
    margin: 0 auto;
    opacity: .8;
}
.aboutMe_info_icon img {
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    margin-top: 0.2rem;
    margin-right: 2rem;
}
.aboutMe_text_label {
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.25rem;
}
.aboutMe_text_value {
    font-weight: 400;
    font-size: 1rem;
}
.aboutMe_text_value a {
    color: black;
}
.aboutMe_text_value a:hover {
    cursor: pointer;
    color: green;
}

.aboutMe_contactMe {
    border-radius: 20px;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
    background-color: rgba(3,199,90,255);
}

/* Media Size Max-width: 992 */
@media (max-width: 992px) {
    .header_bar {
        background-color: white;
    }
    .header_bar .header_contents a {
        color: black;
    }
    .header_menus {
        display: none;
    }
    .toggle_button {
        display: block;
    }
    .cover_main_text {
        font-size: 3rem;
    }
    .cover_sub_text {
        font-size: 1rem;
    }
    .aboutMe_title .aboutMe_title_text {
        font-size: 2.5rem;
    }
    .aboutMe_info .aboutMe_info_wrapper {
        width: 50%;
    }
}
@media (min-width: 993px) {
    .toggle_menuBar {
        display: none;
    }
}